.testimonials {
  padding: 3rem 0;
  @include respond-to('medium') {
    padding: 70px 0;
  }

  &__heading {
    margin-bottom: 2rem;
    @include respond-to('medium') {
      margin-bottom: 3rem;
    }
  }

  &__grid {
    display: grid;

    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
    @include respond-to('medium') {
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px solid $red;
  border-radius: 5px;
  background-color: $block-bg;

  padding: 1.25rem 1.375rem 2rem 1.375rem;
  @include respond-to('small') {
    padding: 2.25rem 5.375rem 3.125rem 3.375rem;
  }

  &__img {
    width: 84px;
    height: 84px;
    margin-bottom: 1.75rem;
    @include respond-to('small') {
      width: 113px;
      height: 113px;
      margin-bottom: 2.25rem;
    }

    img {
      border-radius: 50%;
    }
  }

  &__name {
    &.p2 {
      line-height: 15px;
    }

    margin-bottom: .5rem;
    @include respond-to('medium') {
      margin-bottom: 1rem;
    }
  }

  &__date {
    &.p2 {
      font-weight: 200;
      color: $black;
    }
    margin-bottom: 1rem;
  }

  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
  }
}