<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__col">
                {% if fields.title %}
                    <h1>
                        {{ fields.title }}
                    </h1>
                {% endif %}
                {% if fields.text %}
                    <p class="hero__text p3">
                        {{ fields.text }}
                    </p>
                {% endif %}
                <a href="#" class="hero__contact btn">
                    Get a quote
                </a>
                <a href="#" class="hero__popup btn" data-popup="video">
                    Watch the video
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14.5" cy="14.5" r="13.5" stroke="#FF3A1D" stroke-width="2"/>
                        <path d="M18.9536 15.6826C19.5066 15.2835 19.5066 14.46 18.9536 14.0608L12.7393 9.57607C12.0779 9.09877 11.1541 9.57134 11.1541 10.387V19.3565C11.1541 20.1721 12.0779 20.6447 12.7393 20.1674L18.9536 15.6826Z" fill="#FF3A1D"/>
                    </svg>
                </a>
            </div>
            <div class="hero__col">
                {% if fields.gallery %}
                    <div class="hero__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {%  for image in fields.gallery %}
                                    <div class="swiper-slide">
                                        {{ fn('wp_get_attachment_image', image, 'full', 'false') }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</section>