<section class="installation">
    <div class="container">
        {% if fields.title %}
            <h2 class="installation__heading">
                {{ fields.title }}
            </h2>
        {% endif %}
        {% if fields.cards %}
            <div class="installation__cards">
                {% for card in fields.cards %}
                <div class="card">
                    <div class="card__img">
                        {% if card.image %}
                            {{ fn('wp_get_attachment_image', card.image, 'full', 'false', {'class' : ''}) }}
                        {% endif %}
                    </div>
                    <div class="card__text">
                        {% if card.title %}
                            <p class="card__title p2">
                                {{ card.title }}
                            </p>
                        {% endif %}
                        {% if card.text %}
                            <p class="card__p p3">
                                {{ card.text }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>