a {
	//color: $color__link;
	text-decoration: none;

	&:visited {
		//color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		//text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
[class^=nav-], .about__address {
	a {
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}