<footer id="colophon" class="site-footer">
    <div class="site-info">
        <a href="/test">
        {{ fn('_e', 'Proudly powered by %s', 'buss') }}
        </a>
        <span class="sep"> | </span>
    </div>
</footer>